
h1, a, p, h2{
    color: white;
}
    .blue{
        background-color: #01A4D6;
        
    }
        .text-navigation{
            background-color: #01A4D6;
            width: 1400px;
            padding-left: calc((100% - 1400px)/2);
            padding-right: calc((100% - 1400px)/2);
          
            margin-right: 8px;
            margin-bottom: 0;
            display: inline-block;
            float: left;
        }
            section{
                width: 50%;
                display: inline-block;
                float: left;
                
                
            }
            
                h1{
                    margin: 0;
                }
                .p-section{
                    color: white;
                    margin: 0;
                    font-size: 7px;
                    margin-left: 75px;
                }
                
                
            .nav-virsus{
                width: 50%;
                display: inline-block;
                float: right;
                margin-right: -65px;
               
                
            }
                div > nav > button{
                    background-color:#01A4D6;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;

                    
                    float: left;
                }
                .rodykle-k {
                    display: inline-block;
                    float: left;
                    margin-top: 275px;
                    background-color: #48B3DA;
                    cursor: pointer;
                    border: none;
                }
                .rodykle-d {
                    display: inline-block;
                    float: right;
                    margin-top: 275px;
                    background-color: #48B3DA;
                    cursor: pointer;
                    border: none;
                }
                    
                    .p-nav{
                        background-color: #01A4D6;
                        margin: 0;
                        color: white;
                        text-transform: uppercase;
                    }
    .background-image{
        background-image: url("gamta.jpg");
        width: 100%;
        height: 625px;
        display: inline-block;
                }
        .div{
            width: 470px;
            text-align: left;
            display: inline-block;
        }
        

            
            h2{
                text-transform: uppercase;
                color: white;
                font-size: 35px;
                margin-top: 120px;
                margin-left: 120px;
                margin-bottom: 10px;
                font-family: 'Oswald', sans-serif;
                
            }
            hr{
                margin-left: 120px;
            }
            .p-apacioje{
                margin-left: 120px;
                color: white;
                line-height: 20px;
                font-style: italic;
            }
            .read-more{
                    margin-left: 120px;
                    padding: 10px;
                    text-decoration: none;
                    background-color: #F78A26;
                    border: none;
            }
                button > a{
                    text-decoration: none;
                    text-transform: uppercase;
                    
                }
        
        .apatinis-main{
            width: 100%;
            height: 56px;
            margin-top: 193px;
            display: inline-block;
        }
            main > nav > button{
                display: inline-block;
                float: left;
                width: 20%;
                padding: 20px 40px 20px 40px;
                border: none;
                background-color: #004D69;
                cursor: pointer;
            }
            main> nav > button:hover{
                background-color: #007AA7;
            }
            .p-apacia{
                font-size: 10px;
                font-style: italic;
                width: 100%;
                display:inline-block;
                float: left;
                margin: 0px;
                text-align: center;
            }
            .a-apacia{
                text-decoration: none;
            }

